body{
    background-color: rgb(255, 255, 255);
    font-family: Arial;
}

a{text-decoration: none; 
    color:rgb(0, 0, 0);
}
a:hover{
    text-decoration: underline;
}

body>header{
    background-color: rgb(255, 255, 255);
    border: none;
    display:flex;
    width:80em;
    margin:0 auto 2em auto;    
    padding:0;

}
body>header img{
    height:5em;
}
body>header #menu {
    display:flex;
    width:50%;
    align-items: stretch;
    border-left: 1px solid rgb(255, 255, 255);
}
body>header #menu a{
    flex:1;
    text-align: center;
    padding-top:2em;
    border-right: 1px solid rgb(255, 255, 255);
}
body>header a:hover
{
    background-color: rgb(189, 189, 189);
}
body>header ul{list-style: none;}
body>header #user
{
    border: none;
    margin-left: auto;
    flex:0.2;
    border-left: 2px solid rgb(255, 255, 255);
    border-radius: 12px;
}
body>header #user>a{
    display:block;
    text-align: center;
    padding:2em 0;
    width:100%;
}
body>header #user ul{ 
    display: none;
    position: absolute;
    padding:0;
    margin:0;
    margin-left:-5em;
    background-color: #ffffff;
    border: 1px solid rgb(188, 188, 188);

    z-index: 1;
}
body>header #user ul li a{
    display:block;
    width:10em;
    padding:1em;
    border-bottom: 1px solid #99b;
}
body>header #user:hover ul{
    display:block;
}


#wrapper{
    display:flex;    
    width:80em;
    margin:0 auto 2em auto;
}
#wrapper aside{
    background-color: rgb(213, 213, 213);
    flex:1;
    padding:1em;
    border: none;
    border-radius: 1em;  
    transition-duration: 1s;
}

#wrapper aside:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#wrapper aside img{
    display: block;
    width:50%;
    margin:auto;
}

#wrapper main{
    flex:3;
    padding-left:1em;
    height: 80vh;
    overflow-y:  scroll;
}
#wrapper main article{
    background-color: rgb(188, 188, 188);
    padding:3em;
    margin-bottom: 2em ;
    border-radius: 1em;
    transition-duration: 1s;
}

#wrapper main article:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#wrapper main article h3{
    margin:0;
    padding:0;
    font-weight: normal;
    font-size:1em;

}
#wrapper main article time{
    float:left;
}
#wrapper main article address{
    text-align: right;
    margin-bottom: 1em;
}
#wrapper main article p{
    margin:0;
}
#wrapper main article footer{
    margin-top: 1em;
    text-align: right;
}
#wrapper main article footer small{
    float:left;
}

#wrapper.admin{flex-direction: row-reverse}
#wrapper.admin aside{flex:1;margin-left:1em;border-radius:0;padding:0;}
#wrapper.admin main{flex:2;background-color: #b3a5a5;border-radius: 0;padding:0;}
#wrapper.admin h2{text-align: center;}
#wrapper.admin h3{margin:0;}
#wrapper.admin nav{text-align: right;}
#wrapper.admin article{border:1px solid #ddd;border-radius: 1em;padding:1em;margin:1em;}
#wrapper.admin article p{float:left;margin:0;}


.parameters dl dt{float:left;font-weight: bold;line-height: 1.5em;}
.parameters dl dd{margin-left:15em;line-height: 1.5em;}

.contacts {
    display:flex;
    flex-wrap: wrap;
    align-items:flex-start;
    align-content: flex-start ;
}
.contacts article{
    width:25em;
    height:7em;
    margin-right: 1em;
}
.contacts article img{
    float:right;
    height: 5em;
}

pre{
    color:#ffffff;
}

.btn_login{
    background-color : rgb(104, 104, 240);
    border: none;
    color: white;
    padding: 13px 22px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    border-radius: 8px;
    transition-duration: 0.4s;
}
.btn_login:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

.btn_logout{
    background-color: red;
    border: none;
    color: white;
    padding: 13px 22px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    border-radius: 8px;
    transition-duration: 0.4s;
}
.btn_logout:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.connexion{
    color: rgb(255, 255, 255);
    border: none;
    background-color: rgb(65, 65, 250);
    text-decoration: none;
    border-radius: 8px;
    padding: 6px 12px;  
    transition-duration: 0.4s;
    cursor: pointer;
}

.connexion:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

body header nav a {
    transition-duration: 1s;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    list-style-type: none;
    display: inline;
}

body header nav a:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.navbar li {
    float: left;
}

/* 
#wrapper{
    position: absolute;
    width: 300px;
    height: 200px;
    bottom: 20%;
    left: 35%;
    margin-left:-150px;
    margin-top:150px;
    padding: 230px;
    text-align:justify;
    transition-duration: 0.4s;
    
}

#wrapper1{
    position: absolute;
    width: 300px;
    height: 200px;
    bottom: 20%;
    left: 35%;
    margin-left:-150px;
    margin-top:150px;
    padding: 230px;
    text-align:justify;
    transition-duration: 0.4s; */
    



/* .h8{
    text-align: center;
}

.followers{
    color: rgb(255, 15, 15);
    text-align: auto;
    
}

.Suivies{
    text-align: center;
} */
